input, textarea{
border-radius: 3px;
padding: 5px;
}
table tr{
	transition: opacity ease-in-out 0.5s;
}
table, td{
  border: thin solid silver;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}
tr:hover{
  background-color: blanchedalmond;
}
.names{
  width: 400px;
}
table{
  margin: 15px;
  box-shadow: 3px 3px 10px 2px grey;
  background-color:white;
}
td{
  width:350px;
}

.sectable{
  overflow-y: auto;height: 200px;width:98%;margin-left: 25px;margin-top: 15px;
}
textarea{
  width: 95%;
  height: 150px;
  margin-left: 3px;
  font-size: large;
}
ul{
  list-style-type: none;
}
h1{
  text-align: center;
}
td img{
  width: 50px;
}
.center{
	text-align:center;
}
h1{
  margin:10px;
  padding:15px;
  border: thin solid silver;
  border-radius: 5px;
  background-image: linear-gradient(to right, lightyellow, #d8d8d8 );	
}

input:focus, textarea:focus{
  background-color: lightgoldenrodyellow;
}

td div{
 float: right;
 width: 80%;
 height: 100%;
 padding-top: 15px;
 font-size: 1.2em;
}

section{ margin:auto; margin-top: 15px;  padding: 15px; border: thin solid gray; width: 500px; border-radius:10px;background-color: whitesmoke;}

input[type="button"]{cursor: pointer;font-size: 1.2em;margin:15px; transition: all 0.5s ease-in-out;}
input[type="button"]:hover{background-color: khaki;font-size: 1.25em;}

input[type="checkbox"]{ width: 20px;
        height: 20px;cursor: pointer;}

li{
  margin: 5px;
}

body{background-color: lightsteelblue;}